# Environment stuff
venv/
env/
venv/
.env/
.venv/

# Jupyter files
.ipynb_checkpoints/

# Python bat file
py.bat

# Pycache
pycache/
*.pyc
*.pyo
*.pyd

# Env files
*.env
*.sqlite3

# Editor/IDE
.vscode/
.idea/

# Docs
inputs_outputs.md
prompts.md
README.pdf

# Pipeline runner (for power automate)
# pipeline_runner.py
power_automate.md
bytes.*
config_base_bytes.yaml